 <div class ="col-md-4">
     <!-- -->
    <div class="hizlimenu_ust">
      <img class="d-block w-100" src="/static/img/sag_ust.png" alt="sag_ust">
          <dd class="responsive_text">Facebook</dd>
    </div>

    <div class="sag_orta">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?</p>
    </div>

    <div class="sag_alt">
      <img class="d-block w-100" src="/static/img/sag_alt.png" alt="sag_alt">
    </div>
    <!-- -->
    <div class="hizlimenu_ust">
      <img class="d-block w-100" src="/static/img/sag_ust.png" alt="sag_ust">
          <dd class="responsive_text">Hava Durumu</dd>
    </div>
    <div class="sag_orta">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?</p>
    </div>

    <div class="sag_alt">
      <img class="d-block w-100" src="/static/img/sag_alt.png" alt="sag_alt">
    </div>
   <!-- -->
    <div class="hizlimenu_ust">
      <img class="d-block w-100" src="/static/img/sag_ust.png" alt="sag_ust">
          <dd class="responsive_text">Namaz Vakitleri</dd>
    
    </div>

    <div class="sag_orta">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?</p>
    </div>

    <div class="sag_alt">
      <img class="d-block w-100" src="/static/img/sag_alt.png" alt="sag_alt">
    </div>
 <!-- -->
 <div class="hizlimenu_ust">
  <img class="d-block w-100" src="/static/img/sag_ust.png" alt="sag_ust">
      <dd class="responsive_text">Yorumlar</dd>
  </div>

  <div class="sag_orta">

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque, architecto?Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        </p>
  </div>

    <div class="sag_alt">
  <img class="d-block w-100" src="/static/img/sag_alt.png" alt="sag_alt">
</div>
<!-- -->
</div>

</div>
